@import "../vars"

.user-credentials
  font: 1em $header-font

.user-credentials input
  display: block
  margin: 0.5em auto
  font: 1em $header-font
  border-color: $primary-color
  color: $primary-color

.user-credentials input:not(user-credentials:last-child)
  padding: 0.2em 0.5em

.user-credentials div
  text-align: center

.user-credentials div > *
  display: inline

.user-credentials div p
  margin-left: 0.75em

.user-credentials div p.error
  color: $error-color
