@import "../vars"

.user-submit
  border-radius: 10px
  background-color: $primary-color
  color: $secondary-color
  width: 5em
  margin: auto
  padding: 0.3em 1em
  cursor: pointer
  text-align: center

.user-submit:hover
  background-color: $alternate-color
