@import "../vars"


.user-table-item
  vertical-align: middle
  height: 2.7em

.user-table-item > td
  width: 50%
  border-top: $border-props
  border-bottom: $border-props
  padding: 0.5em

.user-table-item .item-right img
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  position: relative
  float: right
  height: 1.5em
  width: 1.5em
  cursor: pointer

.user-table-item .item-right img:hover
  content: url("settings-icon-material.png")

.user-table-item .item-left
  text-align: left
  border-left: $border-props

.user-table-item .item-right
  border-right: $border-props
